:root {
    /* --white-color: #FFFFFF;
    --black-color: #000000;
    --primary-color: #141B4D;
    --secondary-color: #00A26D;
    --green-color: #00A26D;
    --orange-color: #EE6211;
    --red-color: #E4002B;
    --blue-color: #0091DA;
    --khaki-color: #A8AD00;
    --gray-color: #6E7290;
    --gray-lighter-color: #F5F5F5;
    --focus-color: #7CC4E5;
    --pseudo-color: #00EEA033;
    --info-color: #0091DA;
    --success-color: #00A26D;
    --error-color: #97001D;
    --warning-color: #EE6211; */
}
